.quadrant0.css-quqbuc {
  .css-1jrtelv {
    background-color: #C88A88!important;
  }
}

.quadrant1.css-quqbuc {
  .css-1jrtelv {
    background-color: #AACDE9 !important;
  }
}

.quadrant2.css-quqbuc {
  .css-1jrtelv {
    background-color: #A89BCA!important;
  }
}

.quadrant3.css-quqbuc {
  .css-1jrtelv {
    background-color: #81B7BA !important;
  }
}